@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900');

:root {
  --color-primary: rgb(255, 29, 135);
  --color-fg: lightgray;
  --color-fg-inverted: yellow;
  --color-bg: blueviolet;
  --font-weight-bold: 900;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.15rem;
}

a, .link {
  color: var(--color-fg-inverted);
}

a:visited, .link:visited {
  color: var(--color-primary);
}

.section {
  padding: 1em;
}

.heading {
  background-color: var(--color-primary);
  color: var(--color-fg-inverted);
  padding: 1rem;
  font-weight: var(--font-weight-bold);
}

.button {
  background-color: var(--color-primary);
  color: var(--color-fg-inverted);
  padding: 0.5rem 1rem;
  font-weight: var(--font-weight-bold);
  font-size: 100%;
  border: none;
  cursor: pointer;
}
